########################
###   OKFN Servers   ###
########################
Host dev.okfn
HostName dev.okfn.org
User okfn

Host wp.okfn
HostName s053.okserver.org
User okfn

Host db.okfn
HostName db-sov.okserver.org
User okfn

Host dh1.okfn
HostName dh1.okserver.org
User okfn


###################
### DGU Project ###
###################
Host dgudev
HostName dgu-dev.okfn.org
User okfn


#######################
###   Amazon AMIs   ###
#######################
Host amazon
HostName 54.247.169.89
User ubuntu
IdentityFile ~/.ssh/amazon-keys.pem 

Host wikistave
HostName ec2-46-137-66-161.eu-west-1.compute.amazonaws.com
User ubuntu
IdentityFile ~/.ssh/amazon-keys.pem 

Host aws.zephod.com
HostName aws.zephod.com
User ec2-user
IdentityFile ~/.ssh/amazon-keys.pem 

Host scraperbot1
HostName ec2-176-34-171-54.eu-west-1.compute.amazonaws.com
User ubuntu
IdentityFile ~/.ssh/amazon-keys.pem 

Host scraperbot2
HostName ec2-79-125-103-121.eu-west-1.compute.amazonaws.com
User ubuntu
IdentityFile ~/.ssh/amazon-keys.pem 

Host scraperbot3
HostName ec2-46-137-42-113.eu-west-1.compute.amazonaws.com
User ubuntu 
IdentityFile ~/.ssh/amazon-keys.pem 

Host scraperbot4
HostName ec2-79-125-59-138.eu-west-1.compute.amazonaws.com
User ubuntu
IdentityFile ~/.ssh/amazon-keys.pem 

Host scraperbot5
HostName ec2-79-125-77-56.eu-west-1.compute.amazonaws.com
User ubuntu
IdentityFile ~/.ssh/amazon-keys.pem 


################################
###   My Physical Machines   ###
################################
Host zen
HostName zen
User avon

Host cam
HostName cam.zephod.com
User avon

Host appletv
HostName 192.168.0.111
User root

Host tomato
Hostname router
User root
